{% extends "layout.html" %}

{% block title %}Uusi Elokuva{% endblock %}

{% block content %}
<h1>Uusi Elokuva</h1>
<form action="/create_item" method="post">
  <p>
    Otsikko: <br />
    <input type="text" name="title" maxlength="80" required/>
  </p>
  <p>
      Kuvaus: <br />
      <textarea name="description" rows="8" cols="40" maxlength="1000" required></textarea>
  </p>
  <p>
      Arvostelu: <br />
      <input type="text" name="review" size="8" pattern="^([0-9]|10)" required /> /10
  </p>
  <p>
    Genre: <br />
    <select name="genre"
      <option value="">(valitse)</option>
      <option value="komedia">komedia</option>
      <option value="draama">draama</option>
      <option value="fantasia">fantasia</option>
      <option value="kauhu">kauhu</option>
      <option value="jännitys">jännitys</option>
      <option value="animaatio">animaatio</option>
      <option value="muu">muu</option>
    </select>
  </p>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Luo Elokuva" />
</form>
{% endblock %}